    height: 80vh;

/*.julie-image {
height: 85vh;
    background-size: cover !important;
        padding: 0px !important;
        margin: 0 !important;
}

.margin-top-xtra {
	margin-top: 30px !important;
}
*/
